.logo_place_header {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  background-image: url(../../../images/logo_place_header.svg);
}

.logo_place_header:hover {
  opacity: 0.7;
  transition: opacity 1s;
}
