.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Шапка сайта */
.header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header:hover {
  opacity: 0.7;
  transition: opacity 1s;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  max-width: 730px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  z-index: 2;

}

.header__link {
  text-decoration: none;
  color: #2F80ED;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  top: 64px;
  right: 0;
}

/* Секция description */

.description {
  box-sizing: border-box;
  width: 80%;
  margin: 100px auto 0 auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
  max-width: 175px;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 1.2;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  justify-content: space-between;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 1.2;
  font-size: 24px;
  font-weight: bold;
}

/* Секция digits */

.digits {
  margin: 100px auto 100px auto;
  box-sizing: border-box;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle {
  line-height: 1.15;
  font-size: 34px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  margin: 0;
}

/* Секция feynman */

.feynman {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  max-width: 648px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  text-align: center;
  margin: 70px 0 0 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
}

/* Секция Kaufman */
.kaufman {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0 90px 0;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 0;
  background-image: url(../images/kaufman-triangle.svg);
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  color: white;
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/* Подвал сайта */

.footer {
  display: flex;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.logo_place_footer:hover {
  opacity: 0.7;
  transition: opacity 1s;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 18px 0;
}


.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

